:root {
    --colour-text: #bbbbbb !important;
    --colour-theme-bg: #35280C !important;
    --colour-theme-border: #9E7C36 !important;
    --colour-theme-minor-bg: #0A0A0A !important;
    --colour-theme-minor-border: #624C1E !important;
    --colour-theme-major-bg: #6C5322 !important;
    --colour-theme-major-border: #9A7934 !important;
    --colour-theme-highlight-bg: #695121 !important;
    --colour-theme-highlight-border: #A9843A !important;
}

.header_icon {
    filter: hue-rotate(150deg);
}