:root {
    --colour-text: #bbbbbb !important;
    --colour-theme-bg: #4D1900 !important;
    --colour-theme-border: #B04300 !important;
    --colour-theme-minor-bg: #0A0A0A !important;
    --colour-theme-minor-border: #6E2700 !important;
    --colour-theme-major-bg: #973900 !important;
    --colour-theme-major-border: #AC4200 !important;
    --colour-theme-highlight-bg: #933700 !important;
    --colour-theme-highlight-border: #BC4900 !important;
}

.header_icon {
    filter: hue-rotate(140deg);
}