:root {
    --colour-text: #bbbbbb !important;
    --colour-theme-bg: #2F291F !important;
    --colour-theme-border: #93846A !important;
    --colour-theme-minor-bg: #0A0A0A !important;
    --colour-theme-minor-border: #5B5140 !important;
    --colour-theme-major-bg: #605644 !important;
    --colour-theme-major-border: #8F8067 !important;
    --colour-theme-highlight-bg: #5D5342 !important;
    --colour-theme-highlight-border: #9D8D71 !important;
}

.header_icon {
    filter: hue-rotate(180deg) saturate(0.5);
}