:root {
    --colour-text: #bbbbbb !important;
    --colour-theme-bg: #40211F !important;
    --colour-theme-border: #AA625C !important;
    --colour-theme-minor-bg: #0A0A0A !important;
    --colour-theme-minor-border: #6A3B37 !important;
    --colour-theme-major-bg: #7F4843 !important;
    --colour-theme-major-border: #A66059 !important;
    --colour-theme-highlight-bg: #7B4641 !important;
    --colour-theme-highlight-border: #B66962 !important;
}

.header_icon {
    filter: hue-rotate(130deg) saturate(0.75);
}