:root {
    --colour-text: #bbbbbb !important;
    --colour-theme-bg: #292C13 !important;
    --colour-theme-border: #868D4B !important;
    --colour-theme-minor-bg: #0A0A0A !important;
    --colour-theme-minor-border: #52572C !important;
    --colour-theme-major-bg: #565A2E !important;
    --colour-theme-major-border: #838949 !important;
    --colour-theme-highlight-bg: #53582D !important;
    --colour-theme-highlight-border: #8F9651 !important;
}

.header_icon {
    filter: hue-rotate(170deg);
}