:root {
    --colour-text: #bbbbbb !important;
    --colour-theme-bg: #5C0000 !important;
    --colour-theme-border: #B10000 !important;
    --colour-theme-minor-bg: #0A0A0A !important;
    --colour-theme-minor-border: #6F0000 !important;
    --colour-theme-major-bg: #B20000 !important;
    --colour-theme-major-border: #AD0000 !important;
    --colour-theme-highlight-bg: #AE0000 !important;
    --colour-theme-highlight-border: #BD0000 !important;
}

.header_icon {
    filter: hue-rotate(140deg) saturate(1.5);
}